.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
}

.grid > [class*="column-"] {
  margin: 0;
  max-width: 100%;
}

.gallery .grid {
  grid-gap: 1rem;
}

.column-xs-12 {
  flex-basis: 100%;
  max-width: 100%;
  grid-column-start: span 12;
  grid-column-end: span 12;
}

@media (min-width: 1000px) {
  .column-md-2 {
    grid-column-start: span 2;
    grid-column-end: span 2;
    flex-basis: 20%;
    max-width: 20%;
  }

  .column-md-4 {
    flex-basis: 33%;
    max-width: 33%;
    grid-column-start: span 4;
    grid-column-end: span 4;
  }

  .column-md-6 {
    flex-basis: 50%;
    max-width: 50%;
    grid-column-start: span 6;
    grid-column-end: span 6;
  }

  .column-md-10 {
    flex-basis: 83%;
    max-width: 83%;
    grid-column-start: span 10;
    grid-column-end: span 10;
  }
}
